<% layout("/layouts/boilerplate") -%>
<div class="row">
    <div class="col-8 offset-2">
        <div class="card mt-3 mb-3 listing-card">
            <img src="<%= onelisting.image.url%>" alt="listing image" class="card-img-top view-img">
            <div class="card-body">
                    <h3> <%= onelisting.title%> </h3>
            </div>
        </div>
    
        <p><b> Owned By: <i><%= onelisting.owner.username%> </i></b></p>
        <p>  <%= onelisting.description%> </p>
        <p> Price : &#8377; <%=onelisting.price.toLocaleString("en-IN")%> / night</p>
        <p>  <%= onelisting.description%> </p>
        <p>  <%= onelisting.country%> </p>
        <p>  <%= onelisting.location%> </p><br>
        
        <!-- this is used so that the delete and edit button is visible only for the admine -->
        <div class="view-btns">
            <form action="/listing/<%= onelisting.id%>/edit" method="GET">
                <button class="view-edit-btn">Edit this listing</button>
            </form><br>
            <form action="/listing/<%= onelisting.id%>?_method=DELETE" method="POST">
                <button class="view-delete-btn">Delete this listing</button>
            </form>
        </div>

        <hr>
        <% if(currUser) { %>
            <div class="col-8 offset-2">
                <h4>Leave your review</h4>
                <form action="/listing/<%= onelisting.id%>/reviews" method="post" novalidate class="needs-validation">
                    <!-- <div class="mb-3 mt-3">
                        <label for="rating" class="form-lavel">Rating</label>
                        <input type="range" min="1" max="5" id="rating" name="review[rating]" id="rating" class="form-range">
                    </div> -->
                    <div class="mb-3 mt-3">
                    <label for="rating" class="form-lavel">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-lavel">Comments</label>
                        <textarea name="review[comment]" id="comment" rows="6" cols="30" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please submit some comments for review.</div>
                    </div>
                    <div>
                        <button class="btn btn-outline-dark">Submit</button>
                    </div>
                </form>
            </div> 
             
        <hr>
        <% } %>

        <% if (onelisting.reviews.length > 0) { %>
            <h4>The Reviews</h4>
            <div class="row">
                <%  for(review of onelisting.reviews) {%>
                    <div class="card col-5 mb-2 mt-3 ms-3 offset-2">
                        <div class="card-body">
                            <h5 class="card-title">@<%= review.author.username %></h5>
                            <p class="starability-result card-text" data-rating="<%=review.rating%>"></p>
                            <p ><%= review.comment%></p>
                        </div>
                        <% if(currUser) { %>
                            <form method="post" action="/listing/<%= onelisting._id %>/reviews/<%= review._id %>?_method=DELETE">
                                <button class="review-delete-btn">Delete Review</button>
                            </form> 
                        <% } %>
                    </div>
                <% } %>
            </div>
        <% } else {%>
            <h4>No Reviews Yet For This Listing</h4>
        <% } %>
    </div>
</div>

